body {
  font-family:'Roboto', sans-serif;
  background:#FFF;
  font-size: 14px;
  padding:0;
  margin:0;
}
a,.pagination>li>a, .pagination>li>span {
	color:#6C338A;	
}
a:hover {
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
	color: #475156;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.badge{
     background-color:#01B5BC;
}
.btn-menu-mobile {
    position: fixed;
    top: 85%;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1000;
}
@media screen and (min-width: 768px) {
}
.up.bicolor span.azul {
    background: #0f69b4;
    width: 46%;
}
.up.bicolor span.rojo {
    background: #eb3646;
    width: 54%;
}
.up.bicolor span {
    height: 10px;
}
.up.bicolor{
  margin: 0;
  display: block;
  position: absolute;
  width: 190px;
  height: auto;
}

.ministerio {
  display: block;
  color: #444;
  margin-top: 14px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px
}

.min-logo {
  margin-top: 0px;
}

.navbar-toggle  {
   color: #6C338A
}

.navbar-collapse a {
  color: #5CA2C2;
  text-transform: uppercase;
}

.login-aux {
    background: url(../images/login-btn.png) no-repeat;
    text-indent: -9999999px;
    width: 140px;
    height: 39px;
    opacity: .8;
    margin-top: 6px;
    margin-left: 15px;
}
.login-aux:hover {
   opacity: 1;
   transition:all 0.3s;
   background-color:transparent!important;
}


.jumbotron {
	margin:0;
	padding:0;
	background-image:url('../images/header-img.png');
	min-height:270px;
  background-position: center center;
  background-repeat: no-repeat;
  display: table;
  width: 100%
}
.jumbotron-min {
    min-height:470px;
}
span.shadow {
    display: table-cell;
    vertical-align: middle;
    position: relative;
/*    transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;*/
}
.logo-container {
	display:block;
	float:left;
	overflow:hidden;
	margin-right:15px;
}
.navbar-brand {
    background: url('../images/logo-subdere.png') no-repeat;
    height: 100px;
    width: auto;
    text-indent: -9999px;
    background-size: contain;
    }
.navbar-header {
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-header-home {
    padding-bottom:8px;
}
.jumbotron h1 a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.50);
    font-size: 0.6em;
    text-decoration: none;
    display: block;
    line-height: 28px;
    margin: 30px 0 5px;
}
blockquote {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
  border: none;
}
.thumbnail {
	border: none;
	border-radius:0;
	padding:0;
	min-height:15.375em;
}
.thumbnail>p{
	padding:0.9375em 0.625em;
}
.texto {
    max-height: 46px;
    height: 46px;
    padding: 0 20px;
}
.texto h4 {
  font-weight: 300;
  padding: 10px 0px;
}
.dropdown-menu {
  min-width: 190px;
}
.dropdown-menu>li>a{
  color: #6C338A;
  padding: 10px 20px;
}
.breadcrumb {
  padding: 5px 0px;
  margin-bottom: 0;
/*  background-color:#01B5BC;*/
background-color:#0A132D;
color: #ffffff;
  border-radius: 0;
}
ol.breadcrumb {
    max-width: 1440px;
    margin: 0 auto 0 auto;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb>.active {
    color: rgba(255,255,255,0.4);
}
#main-search {
	margin: 0 0 20px;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
#main-search .form-control {
  color: #fff;
}

#lateral-search {
  margin-bottom: 30px;
}
#lateral-search .input-group {
  margin-bottom: 10px;
}
#lateral-search .form-control {
  border: 1px solid #01B5BC;
  border-radius: 10px; 
  padding: 10px;
  height: 50px;
}

#lateral-search .btn-default {
    margin-left: 10px;
    border-radius: 50%!important;
    color: #53b6bd;
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 1px solid #01B5BC;
  }
#lateral-search .btn-default:hover {
   background-color: #53b6bd;
   color: #fff;
}

#sidebar .checkbox label, .radio label {
  font-size: 14px;
}



.btn-outline {
  padding: 7px 25px;
  font-size:11px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
  border-radius:20px;
  background:transparent;
  border:1px solid #fff;
}

#main-search .btn-outline {
  margin-top: 15px
}

@media screen and (max-width: 767px) {
  .search-box {
    padding: 0px;
    }
}
.input-group-lg>.input-group-btn>.btn, .input-group-lg>.form-control{
	border-radius:10px!important;
  height: 60px;
  padding: 16px 20px;
}
.input-group-md>.input-group-btn>.btn, .input-group-md>.form-control{
  border-radius:0px;
}
#main-search input, #lateral-search input {
    background: transparent;
    border: 2px solid #fff;
}
#main-search input::placeholder {
  color: #fff;
  opacity: .7;
  font-size:14px;
}
#main-search .btn-search, #lateral-search .btn-search {
    background: transparent;
    color: #fff;
    font-size: 27px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    margin-left: 15px;
    height: 70px;
    margin-top: -4px;
}
#main-search .btn-outline:hover {
  color: #fff;
}
h2.text-center {
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 700
}
p.short-dec {
  padding: 0 15% 3%;
}
.redes-sociales li a:hover, .media-left a.books:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
} 
p.share {
  margin: 20px 0 5px 5px;
}
.navbar {
    margin-bottom: 0px;
    min-height: 34px;
    background:#fff;
}
.navbar-toggle {
	font-size:24px;
  padding: 0;
}
/*Menú Auxiliar*/
.menu-aux {
  background: #fff;
  display: block;
  height: 40px;
  margin-bottom: 30px
}


footer {
    background:#333;
    overflow:hidden;
    font-size:14px;
    margin-top: 30px;
}
footer p {
 margin:0;
}
/*footer .lista {
  padding: 5px 35px 30px;
  min-height: 178px;
}*/
footer .lista.border{
  border-right: 1px solid rgba(230, 230, 230, 0.20)
}

footer h5 {
  color: #f2f2f2
}
footer .lista h5 {
    margin: 0 0 20px;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
}
footer .lista ul {
      padding: 0;
}
footer .lista ul li {
    margin: 0 0 5px;
}
footer .lista ul li a {
  color: #f2f2f2
}
footer ul li {
    background: url(../images/bullets.png) no-repeat 0px 7px;
    list-style-type: none;
    padding-left: 15px;
}
.bicolor {
    position: relative;
    min-height: 1px;
    margin-bottom: 40px;
}
footer .bicolor {
    height: 2px;
}
.bicolor span.azul {
    background: #0f69b4;
    width: 46%;
}
.bicolor span.rojo {
    background: #eb3646;
    width: 54%;
}
.bicolor span {
    display: block;
    float: left;
    height: 100%;
}
footer .bottom .bicolor {
    margin: 0 0;
    width: 170px;
    height: 20px;
}
footer .address, footer .links {
    padding: 0;
    color: #f2f2f2;
}

footer .links ul li a {
    display: block;
    padding: 0 6px;
    font-size: 13px;
    color:#fff;
}
footer a:hover {
  text-decoration: underline;
  color: #fff
}

/*****************************************
Páginas interiores
******************************************/

/*item-view*/
.item-details {
  border: 1px solid #6C338A;
  border-radius: 10px;
  font-size: 14px;
  color: #475156;
  line-height: 20px;
  padding: 0 20px;
  margin-top: 30px
  /* portada-recurso: */
}

/*.media-body {
  vertical-align: middle;
}*/
.media-object {
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
}
.ficha .container {
  padding-left: 0px;
}
.ficha .media-object {
    border-radius: 10px;
    /*margin-bottom: 10px;*/
    height: 120px;
    width: 90px;
} 
.ficha h2 {
  font-weight: 400
}
.ficha dd.size {
    width: 135px;
    word-wrap: break-word;
    font-size: 12px;
    margin-top: 20px
}
.uestudios {
      border: 1px solid #6C338A;
      display: block;
      border-radius: 5px;
      opacity: .7;
      height: 122px;
        width: 92px;
        border-radius: 5px;
}
.uestudios:hover {
    opacity: 1;
    transition: all 0.3s;
}

/*.media-left{
    padding: 10px 10px 10px 0;
}*/
.media-heading a {
  display: block;
  color: #475156
}
.media-heading a:hover {
  color: #6C338A
}
hr {
  border-top: 1px solid rgba(230, 230, 230, 0.20);
}
hr.search-result {
  border-top:1px solid rgba(230, 230, 230, 0.80);
}
/*titulo de la página*/
.search-result {
  padding-left: 0;
  margin: 20px 0;
}
.search-counter {
  margin: 0;
  color: #666;
}

.search-list .media {
    position: relative;
    padding: 20px 15px;
    border: 1px solid #6C338A;
    border-radius: 10px;
    margin: -10px 0 40px;
}
.search-list .media-heading a {
  margin-bottom: 13px;
  font-weight: 400;
}

/*.search-list .media-heading a {
  text-transform: uppercase;
}*/

.search-list .media-body p {
    margin: 0;
}

.search-list .media-left {
    padding: 0 10px 0 0;
}

.search-result-box .btn-default, .search-result-box .search-page {
  border: 2px solid #01B5BC;
  border-radius: 10px!important;
  padding: 18px
}
.search-result-box .btn-default {
  padding: 18px;
  margin-right:20px!important;
}
.search-result-box .search-page {
    padding: 28px 10px;
}
.search-result-box .input-group-btn:last-child>.btn {
    margin-left: 20px;
    border-radius: 50%!important;
    color: #53b6bd;
    font-size: 20px;
    width: 60px;
    height: 60px;
    padding: 0;
  }
.search-result-box .input-group-btn:last-child>.btn:hover {
  color: #fff;
}
.search-result-box .btn-default:hover, .btn-primary:hover{
  background-color: #01B5BC!important;
  color: #fff;
}

.filtro .btn-default, .filtro .search-page {
  padding: 5px!important;
}
.filtro .input-group-btn:last-child>.btn{
  width: 42px;
  height: 42px;
  margin-top: -3px
}

.btn-primary {
    background-color: transparent!important;
    border: 1px solid #6C338A;
    border-radius: 20px;
    color: #4B4B4B
} 
.btn-primary:hover {
  border: 1px solid #6C338A;
  background: #6C338A!important;
  color: #fff;
  transition:all 0.3s;
}

.ficha .btn-primary {
    padding: 6px 28px;
    color: #6C338A;
    margin: 0 0 11px
}

.btn-primary:focus {
  border: 2px solid #53b6bd;
}

.ficha .btn-primary:hover{
    color: #fff;
}
.options-btn {
  margin-top: 35px;
}
i.fa-cog {
    font-size: 22px;
    margin: -1px 9px 0;
    float: right;
}

.pagination>.active>a, .pagination>.active>a:hover
 {
  background: #6C338A;
  border-color: #6C338A
}

.pagination>li>a, .pagination>li>span {
  border: 1px solid #6C338A;
}

.pagination>li>a:hover, .pagination>li>span:hover{
  border: 1px solid #6C338A;
  background-color: #01B5BC;
  color: #fff
}

/*.media-body {
    width: auto;
}*/
.media-body dl {
    margin: 0;
}
.media-body dl dt {
    color: #555;
    float: left;
    margin: 0 5px 0 0;
    line-height: 20px;
    font-weight: 700;

}
.media-body dl:first-child {
    margin-top:0;
}
.media-body dl.descripcion {
  margin-top: 30px;
  margin-bottom: 30px
}
.media-body dl.descripcion dt {
  width: 100%
}
.media-body p {
    padding: 0;
}

.t-data {
    margin: 20px 0;
}
.form-control {
    /*height: 36px;*/
}
.label {
    padding: .3em .6em .3em;
}

.btn-link {
    color: #6C338A;
}

.btn-link:hover {
    color: #53b6bd;
    text-decoration:  none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) { 
  .jumbotron h1 a {
    font-size: 0.6em;
    line-height: 43px;
    margin: 60px 0 0 10px;
  }
  .nav>li>a:hover {
    text-decoration: none;
    background-color: #53b6bd;
    color: #fff;
   } 

  footer .footer-not-title {
  margin: 43px 0 0;
  }

}
/***************** End Home page **************/

/*-- Ministerios --*/
.img-circle {
    width: 262px;
    border: 4px solid #E6E6E6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    margin: 0 auto;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.vermas{
  /* get-started-button: */
  border: 1px solid #6C338A;
  border-radius: 50px;
  /* get-started: */
  font-family: Roboto-Regular;
  font-size: 11px;
  color: #4B4B4B;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
  }

.vermas:hover{
    color: #fff!important;
    background: #6C338A;
    box-shadow: inset 0px -2px 0px 0px #045282;
    transition: all 0.3s
}
/*ministerios*/
.minis-item .vermas{
  margin:30px 90px;
  }

.minis-item:hover {
  cursor: pointer;
}
.minis-item:hover a {
    color: #fff;
    background: #6C338A;
    transition: all 0.5s
}
.minis-item h3 {
  font-size: 18px;
}
.minis-item:hover h3 {
  color:#6C338A;
  transition: all 0.5s 
} 
.minis-item:hover .img-circle {
 border: 4px solid #6C338A; 
 transition: all 0.5s
}

.minis-item .img-circle {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.minis-item:hover .img-circle {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/*-- Recuersos por estudios-items --*/
.est-items a {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  color: #4B4B4B;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  transition: all 0.3s;

}
.est-items:hover a {
  color:#6c338a;

}
.est-items .img-circle {
    width: 140px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0 2px 4px 0 #01B5BC;
    border: none;
}
.est-items:hover .img-circle {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px #6c338a70;
}

 /***************** End Home page **************/
    
/** Responsive media queries**/

@media (min-width: 768px) {
    #main-search .btn-link {
    padding: 10px 15px;
  }
}

  .admin {
    float: right;
  }

@media (min-width: 992px) {
    .destacados {
      margin: 30px 0 70px 0;
    }
    .search-box {
      margin: 10px 20%
    }
}


#filtro {
  float: left;
}
.add-filtro {
  padding: 8px 0;
}

.breadcrumb>li+li:before {
    content: ">\0a0";
}

/* Mobile phone only**/
@media (max-width: 768px) {

 blockquote {
  font-size: 14px
 }
.row-home {
  padding: 0 5px;
}
.row-home footer {
     margin-top: 60px
  }
.breadcrumb {
  padding: 5px;

}
}

@media (max-width: 767px) {
  h2 {
      font-size: 26px;
  }
  .media.col-xs-12{
    padding-right: 0;
    padding-left: 0;
  }
  .admin {
    float: left;
  }
    .admin  li, .admin li a {
    padding: 0;
  }
  .jumbotron, .jumbotron .shadow {
    min-height:360px;
    max-height:360px;
  }
  .jumbotron-min {
    min-height:155px;
    max-height: 155px;
  }
  .jumbotron h1 a {
    display: block;
    width: 100%;
  }
  .options-btn {
    margin: 0px -15px 20px;
  }
  .search-result p, .search-counter {
    font-size: 14px
  }
  .search-result-box .input-group-btn:last-child>.btn {
      margin-left: 5px;
      width: 39px;
      height: 39px;
      padding: 0;
  }

  .search-result-box .btn-default {
      padding: 7px;
      margin-right: 2px!important;
    }

  .search-result-box .search-page {
      padding: 18px 6px;
  }

/*  .ficha .media-left {
    display: block;
    margin-bottom: 20px;
  }*/
}

@media (max-width: 360px) {
    h2 {
      font-size: 22px;
    }
  }


.visualizar {
  margin-bottom: 10px !important;
}

.desc {
  /*min-height: 44px*/
}


/*.form-control {
    border: 2px solid #01B5BC;
    border-radius: 10px!important;
    padding: 18px;
}*/


.sidebar-offcanvas h2.panel-heading.h6 {
    color: #999!important;
    background-color: transparent!important;
    border-color: transparent!important;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}

.search-result-box .ds-select-field {
    border: 1px solid #01B5BC;
    border-radius: 10px!important;
    padding: 18px;
    height: 49px;
}

.row-offcanvas.row-offcanvas-right {
    padding-top: 30px;
}

.row-offcanvas .media:first-child {
    margin-top: 30px;
}

/*#aspect_viewArtifacts_Navigation_list_administrative, #aspect_viewArtifacts_Navigation_list_context {
    display: none;
}*/

ul.list-group {
    margin-bottom: 10px;
}

div:focus, a:focus{
    outline: none;
}

.minis-item img {
        height: 254px;
    width: 254px;
}

footer .min-logo img {
    height: 90px;
}

.home {
    min-height: 470px;
}
.shrink {
    min-height: inherit;
/*    transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;*/
}

h3.text-center.carrusel {
  height: 38px;
}

.footerbottom {
    padding-left: 0;
}


.footermargin {
    margin-right: 30px;
}

footer .container {
    padding: 10px !important;
}

.item-details h2 {
    font-size: 23px;
}

.size i {
    float: left;
    margin-right: 11px;
}

.icono {
        float: left;
    margin-right: 11px;
    max-width: 30px;
}

.item-details .media {
    padding-bottom: 20px;
}

.item-details .media .media-left .media-object {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}

.item-details .media .media-left .media-object:hover {
-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.item-details .media-left {
    max-width: 163px;
}

#main-search .btn-search:hover, #main-search .btn-outline:hover {
    color: #fff;
    background-color: #6c338a;
}

.row-home .media-object {
    width: 90px;
    height: 120px;
}

.btn-group>.btn:first-child {
    /*padding-right: 0;*/
}



#aspect_artifactbrowser_ConfigurableBrowse_list_jump-list li {
	margin-left: -1px;
	padding: 5px 8px;
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0 10px;
    float: left;
    background-color: #fff;
    border: #ccc solid 1px;
}

#aspect_artifactbrowser_ConfigurableBrowse_list_jump-list li:first-child {
    border-radius: 4px 0 0 4px;
}
#aspect_artifactbrowser_ConfigurableBrowse_list_jump-list li:last-child {
    border-radius: 0 4px 4px 0;
}
#aspect_artifactbrowser_ConfigurableBrowse_list_jump-list {
    margin-left: 0 !important;
}

.jumbotron {
    max-width: 1443px;
    margin: 0 auto 0 auto;
}

.ds-text-field.form-control,
.ds-select-field.form-control,
.ds-password-field.form-control {
    border: 1px solid #01B5BC;
    border-radius: 10px;
    padding: 10px;
}